@import "../../global.scss";

h2 {
    padding: 200px;
}

.card {
    @include bc-color($cardColor, grey);
    @include with-padding(90%, 90px);
    @extend %margin-MarginBottom;
    @extend %borderRadius;
    margin-top: 6%;

    @include mobile {
        @include with-padding(80%, 20px);
    }

    button {
        @extend %buttonDetail;

        @include mobile {
            width: 40%;
        }
    }

    .back {
        @extend %buttonDetail;
        margin-right: 2%;
        padding-right: 9px;
        padding-left: 9px;
        padding-top: 1px;
        padding-bottom: 2px;
        text-decoration: none;
    }

    img {
        @include size(400px, 400px);
        @extend %filterTransition;
        @extend %margin-MarginBottom;
        padding: 2%;
        border: 1px solid rgb(175, 167, 167);

        &:hover {
            @extend %filterImage;
        }

        @include mobile {
            @include size(90%, 90%);
        }
    }
}
