@import "../../global.scss";

.contenedor {
    @include margin(auto, auto);
    @include with-padding(60%, 50px);
    @include bc-color($mainColor, $black);
    @extend %borderRadius;
    margin-bottom: 2%;
    margin-top: 2%;

    h1 {
        margin-bottom: 2%;
    }

    @include mobile {
        @include with-padding(90%, 3%);
        font-size: 95%;
        margin-top: 5%;
    }

    .cajitaComics {
        @include bc-color($contenedor, $black);
        @include with-padding(80%, 1%);
        @extend %borderRadius;
        margin: auto;
        text-align: start;

        @include mobile {
            padding-top: 2%;
            padding-left: 2%;
            width: 100%;
        }

        li {
            @include bc-color($contenedor, $black);

            .comics {
                display: flex;
                flex-wrap: wrap;
                position: relative;

                .comicButton {
                    position: absolute;
                    left: 97%;

                    button {
                        @extend %buttonFavoriteCharacters;
                        justify-content: center;
                    }

                    @include mobile {
                        padding-top: 2%;
                        padding-right: 2%;
                        position: sticky;
                        left: 90%;
                    }
                }
            }
        }
    }

    .divLink {
        margin-top: 2%;
        .linkBack {
            @extend %buttonFavoriteCharacters;
            padding: 5px;
            float: center;
            font-size: 80%;
            text-decoration: none;
        }
    }
}
