$mainColor: #ffb401;
$backgroundPagination: #aa0000b2;
$width: 700px;
$colorLinkPagination: #aa0001;
$cardColor: #f2f2f2;
$black: black;
$lightBlack: #303336;
$contenedor: rgba(255, 255, 255, 0.13);
$white: white;
$grey: grey;
