@import "../sass/global.scss";
@import "../sass/variables.scss";

.characterDetail {
    .loading {
        margin-right: auto;
        margin-left: auto;
        width: 120px;
        margin-top: 20%;
    }

    .card {
        @include bc-color($darkWhite, $grey);
        @include with-padding(80%, 40px);
        @extend %margin-MarginBottom;
        @extend %borderRadius;

        .buttons {
            button {
                @extend %buttonDetail;
                margin: 10px;
            }
        }

        img {
            @include size(370px, 370px);
            @extend %filterTransition;
            @extend %margin-MarginBottom;
            padding: 2%;
            border: 1px solid rgb(175, 167, 167);

            &:hover {
                @extend %filterImage;
            }
        }
    }

    .notFound {
        @include flex(center, center, column);
        button {
            @extend %buttonFavoriteCharacters;
        }
    }
}

@media screen and (max-width: 700px) {
    .characterDetail {
        .loading {
            margin-top: 30%;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            @include with-padding(80%, 20px);

            h1 {
                font-size: 25px;
            }

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }

            img {
                @include size(80%, 80%);
            }

            .buttons {
                @include flex(center, center, column);
                button {
                    font-size: 15px;
                    width: 60%;
                }
            }
        }

        .notFound {
            margin-bottom: 1%;
            img {
                @include size(80%, 40%);
            }

            button {
                font-size: 15px;
            }
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1400px) {
    .characterDetail {
        .card {
            @include with-padding(95%, 20px);

            h1 {
                font-size: 25px;
            }

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }
            .buttons {
                @include flex(center, center, column);

                button {
                    font-size: 15px;
                    width: 60%;
                }
            }

            img {
                @include size(80%, 90%);
            }
        }

        .notFound {
            img {
                @include size(60%, 50%);
            }

            button {
                font-size: 15px;
            }
        }
    }
}
