@import "../sass/global.scss";
@import "../sass/variables.scss";

.favoriteCharacters {
    .contenedor {
        @include with-padding(60%, 50px);
        @include bc-color($yellow, $black);
        @extend %borderRadius;
        margin: auto;

        h1 {
            margin-bottom: 2%;
        }

        .cajitaComics {
            @include bc-color($darkGrey, $black);
            @include with-padding(80%, 1%);
            @extend %borderRadius;
            margin: auto;
            text-align: start;

            li {
                @include bc-color($darkGrey, $black);

                .comics {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;

                    .comicButton {
                        position: absolute;
                        left: 97%;

                        button {
                            @extend %buttonFavoriteCharacters;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .divLink {
            margin-top: 2%;
            .linkBack {
                @extend %buttonFavoriteCharacters;
                padding: 5px;
                float: center;
                font-size: 80%;
                text-decoration: none;
            }
        }

        img {
            @media screen and (max-width: 900px) {
                width: 100%;
            }

            @media screen and (max-width: 900px) and (orientation: landscape) {
                width: 60%;
            }
        }
    }

    @media screen and (max-width: 1100px) and (orientation: landscape) {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 700px) {
    .favoriteCharacters {
        .contenedor {
            @include with-padding(90%, 3%);
            font-size: 18px;
            margin-top: 5%;
            h1 {
                font-size: 25px;
            }

            .cajitaComics{
                padding-top: 2%;
                padding-left: 2%;
                width: 100%;

                li {
                    .comics {
                        .comicButton {
                            padding-top: 2%;
                            padding-right: 2%;
                            position: sticky;
                            left: 90%;
                        }
                    }
                }
            }
        }
    }
}
