@import "../sass/global.scss";
@import "../sass/variables.scss";

.container {
    .loading {
        margin-right: auto;
        margin-left: auto;
        width: 120px;
        margin-top: 20%;
    }

    .grid {
        margin-bottom: 25px;

        .cuadrado {
            margin: auto;
            display: block;
            @include size(380px, 380px);
            @include bc-color($white, $grey);
            border-radius: 5px;
            text-align: center;

            p {
                font-size: 30px;
            }

            .superhero {
                @include size(280px, 280px);
                @extend %filterTransition;
                align-items: center;
                margin: auto;
                text-align: center;

                &:hover {
                    @extend %filterImage;
                }
            }
        }

        .row{
            --bs-gutter-x: 0;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;

    ul {
        padding: 0;
        color: $white;

        li {
            display: inline;
            padding: 10px;
            cursor: pointer;

            @include bc-color($lightRed, $white);
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 3px;
            margin: 0 4px;

            &:hover:not(.active) {
                @include bc-color($darkRed, $black);
                transition: 0.3s;
            }

            &.active {
                @include bc-color($darkRed, $black);
            }
        }
    }
}

@media screen and (max-width: 700px) {
.container {
    .loading {
        width: auto;
    }
    .grid {
        .cuadrado {
            @include size(310px, 310px);
            p {
                font-size: 25px;
            }

            .superhero {
                @include size(70%, 69%);
            }
        }
    }
}

    .pagination {
        ul {
            li {
                font-size: 15px;
            }
        }
    }
}
