@import "../../global.scss";

.grid {
    margin-bottom: 25px;

    .cuadrado {
        @include size(410px, 410px);
        @include bc-color(white, grey);
        margin: auto;
        border-radius: 5px;
        text-align: center;

        p {
            font-size: 30px;
        }

        img {
            @include size(300px, 300px);
            @extend %filterTransition;
            align-items: center;
            margin: auto;
            text-align: center;

            &:hover {
                @extend %filterImage;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    cursor: pointer;

    ul {
        padding: 0;
        color: white;

        li {
            display: inline;
            padding: 10px;

            @include bc-color($colorLinkPagination, white);
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 3px;
            margin: 0 4px;

            &:hover:not(.active) {
                @include bc-color($backgroundPagination, black);
                transition: 0.3s;
            }

            &.active {
                @include bc-color($backgroundPagination, black);
            }
        
        }
    }
}