@import "../../global.scss";

.style {
    margin-bottom: 2%;

    a {
        text-decoration: none;
        color: $white;

        &:hover {
            color: $white;
        }
    }

    span {
        color: white;
    }

    li {
        @include mobile {
            margin: 1%;
        }
    }

    form {
        @include mobile {
            margin: 1%;
        }
    }
}
